<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../estilo.css">
</head>
<body>
    <section class="form-container">
        <div class="container">
    <form method="post" action="/pessoas/criar">
        <div class="input-single">
        <label>Nome:</label>
        <input class="input"  type="text" name="nome" /> <br/>
        </div>
        <div class="input-single">
        <label>Sobrenome:</label>
        <input class="input"  type="text" name="sobrenome"/> <br/>
        </div>
        <div class="input-single">
        <label>Idade:</label>
        <input class="input"  type="number" name="idade"/> <br/>
        </div>
        <div class="btn"><input type="submit" value="Enviar"/> </div>
    </form>
    </div>
    </section>
</body>
</html>